#stress-responses {
  display: none;
}

#health-responses {
  display: none;
}

#methods{
  display: none;
}

.jumbotron {
  background-color: pink;
}

#ressourcehidden {
  display: none;
}

#ressourcehidden2 {
  display: none;
}

#ressourcehidden3 {
  display: none;
}
